* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

.workout-card {
    background: rgba(48, 175, 156, 0.767);
    width: 80%;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 800;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.todays-buttons button {
    margin-right: 1.5rem;
}

.todays-buttons button:hover {
    background: rgba(0, 0, 0, 0.636);
    color:  rgba(48, 175, 156, 0.767);
}

.workout-card span {
    color: rgba(0, 0, 0, 0.636);
    margin-left: .4rem;
    font-size: .9rem;
}

@media(max-width: 375px) {
    .todays-buttons button {
        margin-bottom: .5rem;
    }

}



