@import url('https://fonts.googleapis.com/css?family=Abel');

* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

.page-container {
    width: 100%;
    height: 110vh;
    background-image: url('victor-freitas-604847-unsplash.jpg');
    background-image: linear-gradient(rgba(2, 24, 35, 0.9), rgba(2, 24, 35, 0.7)), url('victor-freitas-604847-unsplash.jpg');
    background-size: cover;
}

.main-body {
    display: flex;
    justify-content: space-between;
    background: #fff;

}

.workout-headline {
    color: rgb(61, 61, 60);
    font-family: 'Open Sans Condensed', sans-serif;
    height: 3.4rem;
    background: rgba(218, 218, 218, 0.863);
    border: .07rem solid rgba(168, 166, 166, 0.7);
    border-right: none;
    display: flex;
}

.workout-headline span {
    font-size: .8rem;
    font-weight: 800;
    margin: 0rem 1rem;
    
}

.setup-container {
    width: 55%;
    height: 100rem;
}

.button-container {
    height: 100rem;
    width: 45%;
    background: rgba(218, 218, 218, 0.863);
    border: .1rem solid rgba(168, 166, 166, 0.663);
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    align-items: flex-end;
    overflow: scroll;
    justify-content: space-between;
    padding: 2.5rem 3rem;
    position: relative;
}

/****FILTER STYLING ***/

.menus-container {
    height: 5.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(48, 47, 46);
    font-family: 'Abel', sans-serif;
    position: absolute;
    top: 5rem;
    right: 1.1rem;
}

.workout-style-filter {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 3.5rem;
    font-size: 1.2rem;
    color: rgb(48, 47, 46);
    font-family: 'Abel', sans-serif;
    position: absolute;
    top: 2rem;
    right: .4rem;
}

.moves-container {
    position: absolute;
    top: 10rem;
}

.workout-style-filter input {
    margin: .16rem .3rem;
}

.workout-style-filter h5 {
    margin: .16rem .3rem;
}
 

.workout-equip-filter {
    margin: 1.5rem;

}


.workout-location-filter {
    margin: 1.5rem;
    
}

