* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}


.name-logo {
  height: 5rem;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 1.7rem;
  padding-bottom: 1.3rem;
}

.nav-links {
  height: 1.7rem;
  width: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 0rem 75rem;
}

.nav-links a {
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  font-weight: 800;
}

.nav-links a:hover {
  color: rgba(202, 199, 199, 0.863);
}

.container {
  border-bottom: 1px #fff solid;
}

.container h3 {
    padding-right: .3rem;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(240, 239, 236);  
}

h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(240, 239, 236);
}

.ham-menu {
  display: none;
}

@media(max-width: 375px) { 
  .nav-links {
    display: none;
  }

  .ham-menu {
    display: inline;
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: .3rem;
    right: 1.2rem;
  }

  .name-logo {
    height: 5rem;
    width: 74%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 1.7rem;
    padding-bottom: .4rem;
  }

}






