* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}


.name-logo {
  height: 6rem;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 1.7rem;
}

.nav-links {
  height: 1.7rem;
  width: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background-color: #C4484C;
  padding: 0rem 2rem 0rem 76rem;
}

.nav-links a {
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #E2DED3;
  font-weight: 800;
}

.nav-links a:hover {
  color: rgba(36, 28, 28, 0.863);
}

.container h3 {
    padding-right: .3rem;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(240, 239, 236);  
}

h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(240, 239, 236);
}







