@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}


.name-logo {
  height: 6rem;
  width: 26%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 1.9rem;
}

.nav-links {
  height: 1.7rem;
  width: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background-color: #C4484C;
  padding: 0rem 2rem 0rem 65rem;
}

.nav-links a {
  text-decoration: none;
  font-family: 'Abel', sans-serif;
  color: #E2DED3;
  font-weight: 500;
}



.container h3 {
    padding-right: .3rem;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(240, 239, 236);
    
}







