@import url('https://fonts.googleapis.com/css?family=Abel');

* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    
}

/**** CONTAINER STYLING ****/

.main-container {
    position: relative;
    height: 86.2rem;
    background-image: url('victor-freitas-604847-unsplash.jpg');
    background-image: linear-gradient(rgba(2, 24, 35, 0.5), rgba(2, 24, 35, 0.5)), url('victor-freitas-604847-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}
.main-container-user {
    position: relative;
    height: 70rem;
    background-image: url('victor-freitas-604847-unsplash.jpg');
    background-image: linear-gradient(rgba(2, 24, 35, 0.5), rgba(2, 24, 35, 0.5)), url('victor-freitas-604847-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}

.right-col {
    width: 50%;
}

.display-container {
    height: 80vh;
    width: 50%;
    overflow: scroll;
    border: 2px solid #E2DED3;
    border-radius: .5rem;
    background: rgba(45, 60, 66, 0.8);
}

.todays-container {
    height: 65vh;
    width: 100%;
    font-family: 'Abel', sans-serif;
    border: 2px solid #E2DED3;;
    border-radius: .5rem;
    background: rgba(45, 60, 66, 0.8);
    padding-left: 2rem;
    margin-left: 4rem;
    color: #fff;
}

.todays-container-user {
    height: 35rem;
    width: 70%;
    font-family: 'Abel', sans-serif;
    border: 2px solid #E2DED3;;
    border-radius: .5rem;
    background: rgba(45, 60, 66, 0.8);
    padding: 3rem 2rem;
    color: #fff;
    margin: 4rem 0rem 0rem 14rem;
}
.todays-container-user h1 {
    margin-bottom: 2rem;
}

.text-message {
    height: 12.4vh;
    width: 100%;
    margin: 1.2rem 0rem 0rem 4rem;
    padding-left: 2rem;
    border: 2px solid #E2DED3;;
    border-radius: .5rem;
    background: rgba(45, 60, 66, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-message button:hover {
    background: rgb(138, 137, 137);
}

.create-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 14rem;
}

.workouts {
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: space-between;
    padding: 4rem 8rem;
    border-top: .7rem solid #30AF9B;
    background: rgba(255, 255, 255, .5);
}

/**** CREATE BOX STYLING ****/

.create-box {
    background: rgba(255, 255, 255, 0.911);
    height: 3.4rem;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Abel', sans-serif;
}

.create-headline {
    font-family: 'Abel', sans-serif;
    margin: 6.5rem 0rem .15rem 0rem;
    font-size: 3.3rem;
    letter-spacing: .5rem;
    color: #30AF9B;
    text-shadow: .2rem .2rem .3rem rgba(0, 0, 0, 0.849);
}

.create-sub-headline {
    font-family: 'Abel', sans-serif;
    margin: 0rem 0rem 5rem 0rem;
    font-size: .8rem;
    letter-spacing: .3rem;
    color: rgba(255, 255, 255, .8);
    text-shadow: .1rem .1rem .4rem #000;
}

.create-box label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, .4);
    padding: 0rem 1.3rem 0rem 0rem;
}
.create-box h3 {
    padding: 1rem .3rem;
    color: rgb(219, 84, 97);
    margin-left: .4rem;
}

.create-box h1 {
    color: rgb(216, 212, 212);
    font-size: 1.5rem;
    margin-right: .2rem
}

.create-box button:hover {
    background: rgb(138, 137, 137);
}

.workout-time {
   display: flex;
   justify-content: center;
   align-items: center;
}

/**** DISPLAY WORKOUTS STYLING ****/
.display-container h1,
.todays-container h1
{
    color:#E2DED3;
    font-family: 'Abel', sans-serif;
    font-size: 2.2rem;
    padding: .5rem 3rem 0rem 1.3rem;
    margin: 1.4rem 0rem;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;    
}

/*********** TEXT MESSAGE STYLING *************/

.text-message textarea {
    width: 18rem;
}

@media(max-width: 375px) {

.main-container {
    height: 128rem;
    background-image: url('edgar-chaparro-669210-unsplash.jpg');
    background-image: linear-gradient(rgba(32, 32, 32, 0.5), rgba(32, 32, 32, 0.5)), url('edgar-chaparro-669210-unsplash.jpg');
    background-position: center;
}

.create-headline {
    font-size: 2rem;
}

.create-box {
    width: 18rem;
    height: 17rem;
    flex-wrap: wrap;
    padding: 0rem 3.4rem;
    border-radius: .3rem;
    margin-bottom: -5rem;
}

.create-box label {
    border-right: none;
}

.create-box h3 {
    padding: .3rem;
}

.workouts {
    flex-direction: column-reverse;
    padding: 3rem 0rem; 
    align-items: center;
    height: 80rem;
}

.display-container {
    height: 50rem;
    width: 90%;
    overflow: auto;
    margin-left: .15rem;
}

.todays-container {
    margin: .2rem 0rem 1rem 0rem;
    padding: 0.2rem 1rem;
    width: 90%;
}
.todays-container button {
    padding: .5rem .8rem;
}

.right-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-message {
    margin: .2rem 0rem 1rem .15rem;
    padding-left: 2rem;
    width: 90%;
}

.text-message textarea {
    width: 8rem;
}

.todays-container-user {
    width: 85%;
    margin: 4.5rem 0rem 0rem 1.8rem;
    padding: 2rem .8rem;
}

.todays-container-user h1 {
    margin: 1.5rem 3rem 2.3rem 3rem;
   
}

.rate-workout {
    margin-left: 5.5rem;
}

.first-star {
    margin-left: .6rem;
}

.workout-card {
    width: 100%;
    padding: 1rem;
}    

}