@import url('https://fonts.googleapis.com/css?family=Abel');


* {
    box-sizing: border-box;
}

.workout-container {
    padding: 0.1rem 3rem;
    margin: 2.2rem 3.5rem;
    padding: .8rem 0rem;
    background-color: #DB5461;
    text-align: center;
    color: #E2DED3;
    border-radius: .5rem;
}

.workout-container p {
    font-family: 'Abel', sans-serif;
    font-size: 1.1rem;
    font-weight: 800;
    line-height: 2rem;
}


@media(max-width: 375px) {
    .workout-container {
        width: 80%;
        margin: 0rem 0rem 2.15rem 3rem;
        margin-left: 2.15rem;
    }

}

