@import url('https://fonts.googleapis.com/css?family=Abel');


* {
    box-sizing: border-box;
}

.workout-container {
    padding: 0.1rem 3rem;
    margin: 0rem 1.5rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.1rem;
}

.workout-container p {
    background-color: #DB5461;
    margin: .5rem;
    padding: .3rem;
    color: #E2DED3;
    text-align: center;
}